JOOBLE_CAPSOLVER_API_KEY=
JOOBLE_TWOCAPTCHA_API_KEY=
JOOBLE_LLM_API_KEY=
JOOBLE_IMAP_HOST=imap.gmail.com
JOOBLE_IMAP_USER=
JOOBLE_IMAP_PASSWORD=
JOOBLE_SUBMIT_MODE=dry-run
JOOBLE_HEADFUL=true
JOOBLE_MAX_APPLIES=5
JOOBLE_CHROME_PATH=
